
*{
  
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #99ffe6;
  margin: 0px;
  padding: 0px;
}
.text-center{
  text-align: center;
}
.row{
  display: flex;
  justify-content: center;
}
.box{
  height: 150px;
  width: 150px;
  border: 1px solid gray;
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.box:hover{
  background-color: #f2f2f2;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 15px 5px #ffb3b3;
  z-index: 100;
}
.main-container
{
  border-bottom:5px solid black ;
  width: fit-content;
  margin: 30px auto;
}
.board{
  background-color:#196666;
  border-radius: 30px;
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
}
.player-tag{
  width: 880px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  /* border: 1px solid black; */
}
.player-toggel{
  font-size: 22px;
}
.winner-text{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  /* background-color: #f2f2f2; */
  width: fit-content;
  margin: 10px auto;
  display: block;
  padding: 10px 100px;
}
.reset-btn{
  background-color: #196666;
  color: #fff;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  padding: 10px 100px;
  display: block;
  margin: 10px auto;
}

@media screen and (max-width:768px){
  *{
    margin: 0;
    padding: 0;
  }
  .player-tag{
    flex-direction: column;
   align-items: center;
   width: fit-content;
  
  }
  .player-span{
    margin-top: 50px;
  }
  .main-container{
    display: block;
    margin: 10px auto;
  }
  .board{
    /* display: block;
    margin: 10px auto; */
    align-items: center;
  }
  .center
  {
    align-items: center;
    width: fit-content;
    padding: 10px;
    /* border: 1px solid black; */
    margin:10px auto;
    display: block;
  }
  .reset-btn{
    margin: 80px auto;
  }
  
}
/* @media screen and (max-width:768px){
 
} */